<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 	settings이 mappers보다 위에있어야 오류사라짐 -->
	
	<!--이미지파일이 null일 때 오류방지용 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	 <mappers>
	<!--  SQL파일(+경로) -->
	 	<mapper resource="mybatis/mappers/BTmap.xml"/>
	 </mappers>
	
</configuration>